# Server configuration keys
SERVER_PORT=3000
SERVER_URL=http://localhost:3000
CLIENT_ORIGINS=http://localhost:5173

# Database configuration keys
DATABASE_URL=postgresql://user:password@host:5432/database
PINECONE_API_KEY = 
PINECONE_INDEX=

# JWT configuration keys
JWT_SECRET=your-key

# Redis configuration keys
REDIS_HOST=your-key
REDIS_PORT=6379
REDIS_PASSWORD=your-key

# Gmail API keys
GOOGLE_CLIENT_ID=your-key
GOOGLE_CLIENT_SECRET=your-key
GOOGLE_REFRESH_TOKEN=your-key
GOOGLE_SENDER_EMAIL=your-email@example.com

# ImageKit keys
IMAGEKIT_PRIVATE_KEY=your-key

#Razorpay keys
RAZORPAY_KEY_ID=your-key
RAZORPAY_KEY_SECRET=your-key

# Ai models keys 
GEMINI_API_KEY=
MISTRAL_API_KEY=

#Ai Tools Keys
TAVILY_API_KEY=
LLAMA_CLOUD_API_KEY=

#google maps api key
GOOGLE_MAPS_API_KEY=