@use '../../../variables.scss' as variables2;
@use '@/styles/variables';

.form-footer {
    text-align: center;
    margin-top: 36px;
    font-size: variables.$font-size-sm;
    color: variables.$color-gray-400;
    width: 100%;

    .footer-link {
        color: variables.$color-black;
        text-decoration: none;
        font-weight: 700;
        margin-left: 4px;

        &:hover {
            text-decoration: underline;
        }
    }
}
