@use '@/styles/variables' as *;

.dashboard-layout-container {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $color-white;
}

.dashboard-right-pane {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden auto;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }
}

@media (width <= 600px) {
    .dashboard-layout-container {
        flex-direction: column;
        height: auto;
        overflow: auto;
    }
}
